<h1> All Bundles </h1>

<div class="background3">
<!--   <div class ="row">
    <div class="container col-md-4"> -->

<br>
<%= link_to "New Bundle Offer", new_bundles_offer_url, class: "btn btn-primary"  %>
<br>
<br>

<% @bundles.each do |bundle| %>
  <h3> <%= bundle.name.capitalize %> </h3>
  <p> <%= bundle.description.capitalize %> </p>
  <%= link_to "See More", bundles_offer_url(bundle) %>
  <br>
  <br>
<% end %>
