<h1> Show a specific bundle </h1>


<h3> Name: <%= @bundle.name %> </h3>


<p> <%= @bundle.description %> </p>


<% @bookings.each do |booking|  %>
  <h3> Shipping Method: <%= booking.shipping_method %> </h3>
<% end %>
<br>
<br>
<br>

<%= link_to "Book this Bundle!", new_bundles_offer_booking_url(@bundle.id)  %>
