// Define variables for your color scheme

// For example:
$light-cyan: #DDF8F8;
$light-sea-grass: #20A39E;
$tart-orange: #EF5B5B;
$bright-green: #1EDD88;
$light-gray: #e6e6e6;
$black: #000000;
$white: white;

