<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home Starter</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/pages/_home.scss">
</head>
<body>

<!-- Top Nav -->
<div class="navbar">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

   <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="container">
      <h1>Home Starter</h1>
      <p>Furnish your home without making a long-term committment </p>

      <a class="btn-primary" href="#">Rent Now</a>
    </div>
  </div>

  <!-- How It Works Section -->
  <div class="container row-styles">
    <br>

    <h2>How it works</h2>
      <div class="row">
        <div class="cards">
          <div class="card img1 col-md-4 m-2">
            <h3>Browse Furniture Bundles</h3>
            <p>Over 500+ high-quality furnishing bundles to look through</p>
          </div>
          <div class="card img2 col-md-4 m-2">
            <h3>Pick Your Favorite Bundle</h3>
            <p>Find the furniture that best suits your space</p>
          </div>
          <div class="card img3 col-md-4 m-2">
            <h3>Wait for Your Rental</h3>
            <p>We'll ship the furniture to your door within 2 weeks</p>
          </div>
      </div>
    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <p>Follow Us</p>
    <div class="links">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      <p>About Us</p>
    </div>
  </div>

</body>
</html>
