<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home Starter</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/pages/_home.scss">
</head>



<!-- Static page for sucesss -->
<body>
  <div class= "background5">
    <div class ="row">
      <div class="container col-md-8">

    <h1>Your new home just got started!</h1>

    <p>Your new furniture will arrive in <%= @booking.start_date %> <p>

    <%= link_to "Rent More Furniture", bundles_offers_url, class:"btn-last" %>
    </a>
  </div>
</div>
</div>

</body>
</html>


