<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home Starter</title>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/pages/_home.scss">
</head>
<!-- Static page for terms and conditions -->
<body>

<h1>Terms and Conditions</h1>

<p>
I. OUR PRIVACY POLICY
Please refer to our Privacy Policy to learn about how we collect and use information from and about You. The Privacy Policy is part of these Terms.

II. ELECTRONIC COMMUNICATIONS
By visiting the Site and/or communicating with us by email or by chat via the Site, You are communicating with us electronically and agreeing that we may communicate with You electronically. You agree that all such electronic communications (including all notices, disclosures, warranties, and agreements) satisfy any legal requirement that such communication be “in writing.” We may also communicate with You via telephone or text.

III. YOU MUST BE OVER THE AGE OF 13 TO USE THE SITE AND TO RENT FURNITURE
You may not use the Site unless You are over the age of 13. If You Rent a Furniture via the Site on behalf of another person or organization, then by doing so You represent and warrant to us that You have the right and authority to do so and to bind that other person or organization to these Terms.

IV. CONTENT & INTELLECTUAL PROPERTY
You may not copy or use any of the Content or Intellectual Property of or on the Site without our prior written authorization. “Content” means all of the visual, audio-visual, and written information displayed on the Site, including all graphics, photographs, drawings, designs, iconography, animations, videos, and writing (collectively, “Content”). All Content on the Site is the property of B1 and/or third parties with whom B1 has a relationship, and all Content may be protected by one or more applicable intellectual property laws, including without limitation copyright, right of publicity, trademark laws. All trademarks, service marks, trade names, trade dress, and other branding devices (collectively, “Marks”) that appear on the Site and/or B1 Furniture (collectively the “B1 Marks”) are the exclusive property of B1 and are protected by applicable intellectual property laws.

V. LIMITED LICENSE AND SITE ACCESS
You are allowed to use the Site only for Your lawful personal use (or personal use on behalf of a third party). You may not use the Site to do or to facilitate any of the following things (or otherwise to violate any laws or legal rights of anyone else): (1) Copy, imitate, mirror, distribute, publish, download, publicly display, publicly perform, post or transmit any of the Content in any manner or format, and through any means now known or later developed; (2) Resell any B1 Furniture or display or describe B1 Furniture for commercial or competitive purposes, or in a false, misleading, or disparaging light; (3) Commit fraud or other dishonest act, including by seeking refunds or other compensation or benefits for Furniture orders that are not legitimate, or about which You are not being completely truthful in Your communications with us; (4) Make commercial use of any Content or any Furniture available on the Site; (5) Modify, adapt, translate, reverse engineer, decompile, disassemble or convert into human readable form any of the source code / HTML code underlying the Site. (6) Use any automated software or tools that are designed to extract and copy data (such as bots, spiders, crawlers, or other similar data-mining, data-gathering, or data-extraction methods) on the Contents of, or source code / HTML code underlying, the Site; (7) Collect any information about users of the Site; (8) Attempt to interfere with, disrupt, reverse-engineer, steal from, or gain unauthorized access to, any of the software, technology, or equipment that supports the Site; (9) Impersonate another person, or misrepresent Your affiliation, with a person or entity; (10) Post advertising, marketing links or content; and (11) Access the Site from anywhere in the world where it is unlawful for You to do so. Although we highly doubt that we will ever have any reason to do so, we reserve the right, in our sole and complete discretion, to terminate Your access and ability to use the Site without notice.

VI. RENTING
After selecting Your furniture and/or Electronics from our site, You will then choose the rental duration of the furniture and/or electronics. You will then be presented an amount that must be paid upfront which includes the first month’s rent along with an assembly fee and a refundable security deposit. You agree to pay the monthly rental amount for the complete duration of Your term. At no time will You possess any rights or title to the furniture or electronics nor are You allowed to assign, sublease, or re-rent the furniture or electronics to anyone else.

Failure to pay Your rental fees may result in a submission of a negative credit report to reporting agencies. In addition, late payments or payments that we are unable to process will incur a penalty. Furthermore, after the first late payment, B1 reserves the right to terminate the agreement and repossess any and all furniture and/or electronics You have rented whether under the same agreement or a previous one. We will also deduct the late payment from any deposit we may have and if a balance remains, will pursue necessary means to recover those amounts.

VII. FURNITURE PROTECTION PLAN
B1 offers a Furniture Protection Plan that covers Your rental furniture from accidental damage(s) against a monthly payment, calculated as 15% of Your monthly rental. In case of damages arising out of regular use of the furniture, You can raise a claim by notifying B1 within 24 hours of the furniture getting damaged. B1 will send a team to inspect the furniture and evaluate the cause and extent of the damage(s). Once the claim has been validated, B1 promises to replace the damaged item(s) at no additional cost to You with the same or similar furniture item(s), subject to availability. In cases where the extent of damage does not have a significant impact on the utility or aesthetics of the furniture, You and B1 may mutually decide to continue using the damaged piece(s) till the end of your rental tenure. Electronics and houseware are NOT covered as part of the Plan.

The Furniture Protection Plan will cover damages as listed below:

Type of Damage	Nature of Damage
Aesthetic	Stains and dirt
Aesthetic	Scratches
Aesthetic	Rust
Physical	Dents
Physical	Cracks
Physical	Breakage
Physical	Loose parts
Aesthetic/Physical	Damages caused by pets
Damage(s) that do not fall in any of the above categories will be assessed on a case by case basis.

B1 reserves the right to accept or reject these claims if B1 finds that the furniture has been mishandled or was moved without B1's knowledge or consent. The Furniture Protection Plan does not cover damage(s) caused by natural disasters, mold and/or pest infestation or burglary.

Once You have opted for Furniture Protection Plan, You cannot cancel the Plan. Should you choose to renew Your rental plan, the Furniture Protection Plan will also be renewed with it.

VIII. PRICING
With respect to products rented from B1, we cannot confirm the rental price of a product until You elect a rental term and place the order. Despite our best efforts, a small number of the items on our website or in our catalog may be mispriced due to errors. If the correct price of a product rented from B1 is higher than our stated price on the website, we will, at our discretion, either contact you for instructions before delivery or cancel your order and notify you of such cancellation.

IX. DELIVERY
Once the payment, deposit and signed rental agreement have been received and processed, we will coordinate a delivery date where we will arrive and assemble the furniture and drop off electronic items. Either in accordance with an early termination or once the duration of Your rental is complete, we will schedule a pickup to retrieve the furniture and/or electronics. All maintenance and repairs, other than company provided “free maintenance and repairs” are Your responsibility. This includes reasonable upkeep such as vacuum and periodic cleanings. No alteration or remodeling are allowed. All Furniture and electronics must be returned in the same/similar condition as received. If upon retrieval of furniture it is determined that there are any pest infestations, You will be responsible for the fair market value of the furniture which can be collected from the security deposit. If upon retrieval of electronics, we find irreversible damage to the products, You will be liable for the fair market value of the product. In the event, it is found that in any product, any substandard parts are used, or repair carried out by any person not authorized by Us, then a penalty may be levied as per B1’s policy.

B1 inspects the Furniture and Electronics prior to delivery to ensure that it is free of material defects or infestation. You are responsible for maintaining the Furniture and Electronics in good condition. You are responsible for any damage, loss or destruction of the Furniture and Electronics beyond wear and tear in the normal course of use as determined in B1’s sole discretion. In the event of damage or loss, B1 will charge You its cost of replacing or repairing the Furniture and Electronics, including materials, parts and labor, plus any applicable service fees.

You will not remove any furniture or electronics from the delivery address without B1's prior written approval. If You fail to return the Furniture or Electronics as required, You will be liable to B1 for an amount up to the replacement cost of the Furniture and/or Electronics plus handling fees, in addition to all other payments and charges due under this Rental. You agree to indemnify, defend and hold B1 harmless from any and all liabilities, claims, suits losses, damages, costs and expenses, including but not limited to the infestation of Furniture and any personal injury that may arise as a result. You also agree to unconditionally discharge B1 and its officers, directors, employees and agents from any and all claims or suits for damages suffered by You as a result of insect infestation, personal injury caused by insects, or other damage or personal injury caused by the Furniture and/or Electronics.

B1 will deliver and pick up the Furniture and/or Electronics only at the address specified in Your rental agreement. You grant B1 permission to enter Your premises for the purposes of delivering and picking up the Furniture and/or Electronics. B1 will have no liability for damages resulting from any delay in delivery or pick-up of the Furniture and/or Electronics. If through no fault of B1, an additional pick-up or delivery must be made to complete this transaction, You will be immediately notified and an additional transportation charge may be added and charged to Your credit card on file.

X. FURNITURE MAINTENANCE PLAN
Furniture Maintenance Plan is an optional service provided by B1. This service is for scheduling quarterly check-ups of Your furniture with our Furniture professionals and maintain it in a manner that extends the life of the furniture. Electronics and appliances are not covered under this Plan. This service will be chargeable monthly at 15% of Your monthly rental. Services that are included in the plan:

Adjustments and tune ups
Oiling and preventative maintenance
Cleaning - water/heat marks, stains in fabric etc.
Wobbly or loose furniture
Replacement of missing parts (ex. Screws, pulls etc)
Power Unit replacements
Moving
In order to schedule a quarterly visit, You can write to care@brueauone.com and request for a time slot for the visit per Your convenience. Our team will reach You at the scheduled time and take care of the rest. In cases where the furniture is damaged beyond repair, B1 reserves the right to charge You the fair market value of the product. BureauOne reserves the right to refuse maintenance if we find the furniture has been mishandled or was moved without prior knowledge or consent.

Once You have opted for Furniture Maintenance Plan, You cannot cancel the Plan. Should you choose to renew Your rental plan, the Furniture Maintenance Plan will also be renewed with it.

XI. CANCELLATION/TERMINATION/ RETURNS
Orders once placed cannot be cancelled or modified. Cancellation of all orders post payment will attract 50% cancellation charges of a month’s rental. Refund of initial charges net of any Cancellation Fee will be made to Your original mode of payment.

Cancellation after delivery will be treated as an Early Termination of the subscription.

You also have the ability to renew the term of the rental or cancel at will once You have satisfied the terms of Your rental agreement and completed the duration of the rental. Early Termination: Should You choose to terminate this Rental prior to Your chosen rental term on the website, B1 reserves the right to levy an additional charge to Your original mode of payment.

The additional charge due at Early Termination will be calculated as follows:
(Monthly rental rate for actual term - Monthly rental rate for chosen term) * Number of months of actual term + $150.

You also have the option to purchase items that have been rented by You. You may do so by writing to care@bureauone.com with a list of items that You wish to purchase. On completion of payment for purchase of said items, B1 shall transfer all ownership and liability to You.

Should You receive a product that is damaged or not as described, B1 will replace the product with a new one at no charge to You. However, if You return a product at the time of delivery for no fault of B1 or prior to your chosen rental term on the website, You will be charged the first month’s rental for the product as restocking fee. Once Your tenure is complete and in order to arrange for an orderly close-out of the Rental, You must e-mail B1 at care@bureauone.com, with a minimum of 15-days’ notice in advance of the desired pick-up date. Failure to provide such notice may result in additional charges. Upon termination or completion of the Rental, any overpayments will be credited to Your account which You are required to provide us prior to renting any product.

B1 reserves the right to cancel or terminate the order at any time before the stipulated delivery date for any reason, including, but not limited to lack of inventory or damage in transit by offering a full refund to You. In such rare cases where B1 has to cancel or terminate an order, B1's liability is limited to offering a full refund to You.

XII. BUREAUONE REFERRAL PROGRAM
With the BureauOne Referral Program, you earn a 5% commission(Referral Fee) when we close a deal with your referral.

BureauOne will pay 5% of the rent every month as a referral fee, after we receive the monthly rental amount for the furniture from the customer.
Only new leads will qualify for this referral program. Additions to existing orders and additional fees such as delivery fees, security deposit & add-ons such as the Furniture Protection Plan and the Furniture Maintenance Plan are not considered while calculating commission fees.
If the client extends the subscription, the referral fee will not be extended.
In the case of early termination of a subscription, all future referral fee payments will be discontinued as well.
If any furniture is returned before the rental term ends, the referral fee will be adjusted accordingly.
You cannot refer yourself for this referral program.
Please send us an email at referral@bureauone.com for any further queries.

XIII. PAYMENTS
B1 currently accepts Credit Card, Debit Card, ACH and Wires as mode of electronic payments. In choosing to pay B1 for its services, You agree that : (a) You have read, understand and agree to these Terms and Conditions, and that this agreement constitutes a "writing signed by You" under any applicable law or regulation, (b) You consent to the electronic delivery of the disclosures contained in these Terms and Conditions, (c) You authorize B1 to make any inquiries we consider necessary to validate any dispute involving Your payment, which may include ordering a credit report and performing other credit checks or verifying the information You provide against third party databases, and (d) You authorize B1 to initiate one or more debit entries (withdrawals), and You authorize the financial institution that holds Your bank account to deduct such payments, in the amounts and frequency designated in Your then-current payment plan.

XIV. CONTENT YOU SUBMIT TO B1
From time to time, B1 may allow You to submit or post reviews, comments, photos, videos, or similar content or materials on the Site (collectively, “Postings”). We welcome Your Postings as long as they are appropriate, accurate and lawful. Postings may not harass, libel, defame, slander, threaten, or otherwise violate the legal rights of any other person or organization and may not be obscene, pornographic, defamatory, profane, or otherwise unlawful or indecent.

B1 has no obligation to monitor the Site or Postings to the Site. However, we reserve the right to maintain full control over all aspects of the Site, including all Postings, and we may remove, delete, redact, or otherwise modify any Posting at any time, for any reason, with or without notice or further obligation to You. If You do not agree with these terms, please do not submit a Posting. B1 does not promise or guarantee that the content of any Posting will be truthful, accurate, or reliable. You are fully responsible for any liabilities associated with such postings.

We reserve sole and complete discretion over whether to allow or display, and how to use, all Postings. By submitting a Posting to us (via the Site or otherwise), You grant B1 a perpetual, worldwide, unlimited, fully assignable, royalty-free and fully-paid-up right and license to reproduce, distribute, publicly display, transmit, communicate to the public, publicly perform, create derivative works based upon, and otherwise use and exploit for any purpose (collectively, “Use”) such Posting through any means or method now or not yet in existence. The foregoing right and license includes a royalty-free license to Use the name, image, photograph and/or likeness of any person depicted in or identifiable from any Posting. You waive any and all rights under copyright law, right of publicity law, privacy law, and other legal rights (in addition to any “moral rights” that You may have in Your Posting). Further, by submitting a Posting to B1 (via the Site or otherwise), You promise to B1 each of the following things:

You possess all legal rights, authorizations, and/consents or releases necessary to grant to B1 the foregoing rights in Your Posting.
Your Posting does not infringe, misappropriate, or violate any legal rights of any other person or organization party or entity.
XV. DIGITAL MILLENNIUM COPYRIGHT ACT
The Digital Millennium Copyright Act of 1998 (the “DMCA”) provides procedures for copyright owners to follow if they believe in good faith that material appearing on the Internet infringes their rights under U.S. copyright law. If You have a good faith belief with respect to any content posted on the Site, You or Your agent should contact B1 in a writing clearly identified as a “Notification of Claimed Infringement” or indicates that You believe Your copyright has been infringed, Your writing should describe the alleged infringement and request that the allegedly infringing content be removed (or that access to it be blocked).

If You believe in good faith that a notice of copyright infringement has been improperly filed against you, the DMCA permits You to send B1 a counter-notice describing why You have that belief.

Notices and counter-notices must meet the then-current statutory requirements imposed by the DMCA; see https://copyright.gov for details. Notices and counter-notices with respect to the Site should be sent to care@bureauone.com. We recommend that You obtain professional legal advice before filing a notice or counter-notice under the DMCA. The DMCA imposes penalties for false claims made under it.

XVI. DISCLAIMERS
YOU EXPRESSLY UNDERSTAND AND AGREE THAT: (A) YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK, AND THE SERVICES ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS; AND (B) EXCEPT FOR OUR EXPRESS LIMITED WARRANTY, B1 (INCLUDING ITS EMPLOYEES, OFFICERS, AGENTS, AND ADVISORS) EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES AS TO THE SITE (AND FURNITURE OR SERVICES AVAILABLE VIA THE SITE), IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. B1 MAKES NONE OF THE FOLLOWING WARRANTIES, EACH OF WHICH B1 EXPRESSLY DISCLAIMS:

THE SITE WILL MEET YOUR EXPECTATIONS OR NEEDS
THE SITE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE
THE NATURE OR QUALITIES OF ANY FURNITURE OR SERVICES PROMOTED OR AVAILABLE FOR RENT VIA THE SITE WILL MEET YOUR EXPECTATIONS OR NEEDS
XVII. DISPUTE RESOLUTION
You and B1 agree to resolve disputes through final and binding arbitration, except as set forth under “Exceptions” below, and unless You have opted-out of arbitration by following the procedure set forth below. You can decline this agreement to arbitrate within thirty (30) days of Your first use of the Site or the date on which You rented a B1 Furniture (whichever is later) by contacting care@bureauone.com in writing (including via email) clearly marked “Opt-out of Agreement to Arbitrate” that states that You decline this arbitration agreement.

If You do not opt out, You and B1 each agree to submit to the personal and exclusive arbitration of any disputes arising out of or relating to Your use of the Site, including the rental of furniture, under the Commercial Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes of the American Arbitration Association (“AAA”). The arbitration shall be held in San Francisco, California and be governed by the laws of the State of California, without regard to the conflicts of law’s provisions therein.

You therefore acknowledge and understand that each of the following restrictions applies to any dispute You have with B1 (including its employees, officers, agents, and advisors) arising out of or relating to Your use of the Site, rental of any Furniture, or these Terms:

YOU AND B1 ARE EACH GIVING UP THE RIGHT TO A JURY TRIAL
YOU ARE GIVING UP YOUR RIGHT TO BRING A CLAIM IN A REPRESENTATIVE CAPACITY OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS IN ANY LAWSUIT INVOLVING ANY SUCH DISPUTE
As an exception, B1 may bring a lawsuit for injunctive relief to prevent and/or to stop (1) unauthorized use or abuse of the Site, (2) defamation, libel, or other false or misleading statements, or (3) any actual or threatened intellectual property infringement or unfair competition.

XVIII. OUR RIGHT TO CHANGE/UPDATE THESE TERMS
We may review these Terms periodically to ensure that they comply with applicable law and remain consistent with our Furniture and operations. We therefore reserve the right to update and revise these Terms at any time without specific or direct notice to You.

XIX. WAIVER
Our failure partially or fully to exercise any of our rights, or our waiver of any violation of these Terms, shall not prevent our later exercise of such right and shall not constitute or indicate our waiver of any subsequent breach.

XX. SEVERABILITY
We may review these Terms periodically to ensure that they comply with applicable law and remain consistent with our Furniture and operations. We therefore reserve the right to update and revise these Terms at any time without specific or direct notice to You.

XXI. OFFERS
B1 may offer from time to time coupon codes, discounts or promotions (collectively “Offers”). B1 reserves the right to cancel, terminate, modify or suspend any or all the Offers at any time. Offers are not applicable for Commercial Use.

XXII. COMMERCIAL USE
Commercial Use is defined as usage by businesses, offices, homeoffice stagers or any entity other than an individual consumer for residential purposes. Write to us at care@bureauone.com to inform B1 of your commercial use requirements.

XXIII. ENTIRE AGREEMENT
These Terms constitute the entire agreement between You and B1 with respect to the Site and supersedes all prior or contemporaneous communications. Any rights not expressly granted herein are reserved.</p>

</body>
</html>