.background1 {
  padding: 250px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("home.jpg");
  background-size: cover;
  background-position: center;
}

.background2 {
  padding: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("home-2.jpg");
  background-size: cover;
  background-position: center;
}


.background3 {
  padding: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("yellow-couch.jpg");
  background-size: cover;
  background-position: center;
}

.background4 {
  padding: 150px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("apartment.jpg");
  background-size: cover;
  background-position: center;
}

.background5 {
  padding: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("yellow-couch.jpg");
  background-size: cover;
  background-position: center;
}

.background6 {
  padding: 220px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("white-home.jpg");
  background-size: cover;
  background-position: center;
}
