.banner {
  padding: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("couch.jpg");
  background-size: cover;
  background-position: center;
}
.banner-new {
  padding: 50px 300px;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("couch.jpg");
  background-size: cover;
  background-position: center;
}

.container h1 {
  color: white;
  text-shadow: 0 0 15 rgba(0,0,0,0.5);
}

.container p {
  color: white;
  text-shadow: 0 0 15 rgba(0,0,0,0.5);
  font-size: 20px;
}
