.btn-primary {
  background: $purple;
  display: inline-block;
  padding: 16px 36px;
  color: white;
  border-radius: 60px;
  text-align: center;
}

.btn-primary a {
  text-decoration: none;
}

.btn-secondary {
  background: $purple;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 60px;
  text-align: center;
}

.btn-secondary a {
  text-decoration: none;
}

.btn-tertiary {
  background: $purple;
  display: inline-block;
  // padding: 16px 36px;
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 25px;
}

.btn-last {
  background: $purple;
  display: inline-block;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 17px;
  padding: 16px 36px;
  font-family: $headers-font;
}

.go-back-button {
  color: #d3d3d3;
  margin-bottom: 17px;
  display: inline-block;
  &:hover {
    color: #f4f4f4
  }
}

.btn-seller {
  background: $purple;
  padding: 10px 10px;
  color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}



