.btn-primary {
  background: $bright-green;
  display: inline-block;
  padding: 16px 36px;
  color: white;
  border-radius: 60px;
}

.btn-secondary {
  background: $tart-orange;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-radius: 15px;
}

.btn-tertiary {
  background: $bright-green;
  display: inline-block;
  // padding: 16px 36px;
  color: white;
  border-radius: 2px;
  text-align: center;
  font-size: 25px;
}
.go-back-button {
  color: #d3d3d3;
  margin-bottom: 17px;
  display: inline-block;
  &:hover {
    color: #f4f4f4
  }
}
// .btn-lesser {
//   text-align: center;
// }
