.navbar {
  justify-content: space-around;
  padding: 10px;
  background: white;
  height: 100px;
}

.navbar.navbar-collapse {
  flex-grow: 0;
}

.navbar.navbar-brand img {
  width: 40px;
}

.logo {
  width: 40px;
}

.margin-right-navbar {
  margin-right: 10px;
}
