.seller-banner {
  padding: 200px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("sheets.jpg");
  background-size: cover;
  background-position: center;
}

.seller-banner h1 {
  color: $white;
  text-align: center;
}

.index-font {
  font-size: 30;
}
